./config/__pycache__
.venv
.env
*.*~
db.sqlite3
portfolio/__pycache__/*
*__pycache__*
portfolio/migrations/__pycache__/
package-lock.json
node_modules/*
package.json
tsconfig.json
.env*
key-ubuntu-current*
media/*
portfolio/migrations/*
*.swp
