{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/projects.css' %}">
{% endblock %}

{% block title %}{{ page_title }} | C. Aaron Demond{% endblock %}

{% block primary_navigation %}
<ul class="navigation-list">
  <li><a class="navigation-link" href="{% url 'index' %}">Home</a></li>
  <li><a class="navigation-link navigation-link--active" href="{% url 'projects' %}" aria-current="page">Projects</a></li>
  <li><a class="navigation-link" href="#blog">Blog</a></li>
  <li><a class="navigation-link" href="#about">About</a></li>
  <li><a class="navigation-link" href="#contact">Contact</a></li>
</ul>
{% endblock %}

{% block content %}
<section class="projects" aria-labelledby="project-title">
  <h1 id="project-title">{{ project.name }}</h1>
  <p>{{ project.description }}</p>
  <p class="project-card__technologies">{{ project.tools|join:", " }}</p>
  <a class="project-card__link" href="{% url 'projects' %}">Back to Projects &#10229;</a>
</section>
{% endblock %}

{% block footer_navigation %}
<ul class="footer-navigation-list">
  <li><a href="#privacy">Privacy</a></li>
  <li><a href="#terms">Terms</a></li>
  <li><a href="#sitemap">Sitemap</a></li>
  <li><a href="#linkedin" aria-label="LinkedIn">in</a></li>
</ul>
{% endblock %}
